/* Tipografia externa configurada:
    Creo versiones de la misma fuente, defino que al
    usar cierto grosor (weight) la tipografía sera de 
    cierta forma, asi utilizo todos los archivos ttf
    descargados*/
    @font-face {
        font-family: Wittgenstein;
        /*El navegador carga mas rápido si sabe de entrada
        de que formato es, y no solo esto sino que también
        hace que otros navegadores que no son compatibles
        también nos permita cargar la tipografía*/
        src: url(static/Wittgenstein-Regular.ttf) format("truetype");
    }
    @font-face {
        font-family: Wittgenstein;
        src: url(static/Wittgenstein-Medium.ttf) format("truetype");
        /*Cuando elija el tamaño 900 (por cercanía) se tomara esta
        tipografía que definí para este tamaño*/
        font-weight: 900;
    }