body {
    display: flex;
    margin: 0;
    font-family: Arial, sans-serif;
    height: 100vh;
}

.panel-izquierdo {
    width: 200px;
    background-color: #2c3e50;
    color: white;
    padding: 20px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
}

.panel-izquierdo h2 {
    text-align: center;
}

.panel-izquierdo a {
    display: block;
    color: white;
    padding: 10px 0;
    text-decoration: none;
    text-align: center;
}

.panel-izquierdo a:hover {
    background-color: #34495e;
}

.contenido-derecho {
    margin-left: 220px; /* Mueve el contenido a la derecha del panel */
    padding: 20px;
    width: calc(100% - 220px); /* Ajusta el ancho del contenido */
    background-color: lightgrey; /* Añade un fondo temporal para verificar */
    border: 2px solid red; /* Añade un borde temporal para verificar */
}

.bienvenida {
    text-align: center;
    margin-bottom: 20px;
}

.bienvenida h1 {
    color: #2c3e50;
}

.bienvenida p {
    color: #555;
    font-size: 1.1rem;
    line-height: 1.6;
}

.estadisticas {
    background-color: #f2f2f2;
    padding: 20px;
    margin-bottom: 20px;
}

.estadisticas h2 {
    color: #2c3e50;
}

.estadisticas ul {
    list-style-type: none;
    padding: 0;
}

.estadisticas ul li {
    margin-bottom: 10px;
    font-size: 1.1rem;
}

.estadisticas ul li span {
    font-weight: bold;
}

.footer {
    text-align: center;
    color: #888;
    margin-top: 20px;
    font-size: 0.9rem;
}


