@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --fs-large: 2.25rem;
    --fs-medium: 2rem;
    --fs-small: 1rem;
    --fs-xsmall: 0.85rem;
    --space-xxsmall: 8px;
    --space-xsmall: 16px;
    --space-small: 20px;
    --space-xmedium: 24px;
    --space-medium: 32px;
    --space-xlarge: 48px;
    --space-large: 56px;
    --space-xxlarge: 144px;
}

*,
*::after,
*::before {
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    display: flex; 
    flex-direction: column; 
    overflow: hidden;
}

form {
    display: flex;
    flex-direction: column;
    padding: var(--space-xxsmall);
}

form label {
    margin: var(--space-xxsmall);
    display: flex;
    flex-direction: column;
}

