body {
    font-family: 'Wittgenstein', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden; /* Para asegurarse de que no haya barras de desplazamiento */

}
.contenido-derecho {
    margin-left: 220px; /* Mueve el contenido a la derecha del panel */
    padding: 20px;
    width: calc(100% - 220px); /* Ajusta el ancho del contenido */
    background-color: lightgrey; /* Añade un fondo temporal para verificar */
    border: 2px solid red; /* Añade un borde temporal para verificar */
}

.imagen-contenido {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.imagen-contenido img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    margin: 0;
    padding: 0;
}


